<html>
    <head>
        <style>
            body {
                background-color: #FEC9C9;
                color: #FFFFFF;
                font-family:Lato,Helvetica;
            }
            .center {
                display: flex;
                align-items: center;
                justify-content: center
            }
        </style>
    </head>
    <body>
        <div class="center" style="height: 100%";>
            <div>
                <h1 style="font-size:4vw">Sorry, there's no such theme: {{.Theme}}</h1>
                <h3 style="font-size:2vw" class="center">¯\_(ツ)_/¯</h3>
            </div>
        </div>
    </body>
</html>
