<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: #769ECB;
            color: #FAF3DD;
            font-family:Lato,Helvetica;
        }
        .center {
            display: flex;
            align-items: center;
            justify-content: center
        }
        a {
            color: #faf3dd;
            font-family:Lato,Helvetica;
            font-size: 4vw;
        }
        h1 {
            font-size: 4vw;
        }
        h3 {
            font-size: 2.5vw;
        }
    </style>
    </head>
<body>
<div class="center" style="height: 100%";>
    <div>
        <h3 class="center">Pick a sprint theme</h3>
        {{ range $key, $value := . }}
            <a class="center" href="/gen/{{ $key }}">{{ $value.Name }}</a>
        {{ end }}
    </div>
</div>
</body>
</html>
