<html>
    <head>
        <style>
            body {
                background-color: #769ECB;
                color: #FAF3DD;
                font-family:Lato,Helvetica;
            }
            .center {
                display: flex;
                align-items: center;
                justify-content: center
            }
            a {
                color: #faf3dd;
                font-family:Lato,Helvetica;
            }
            h1 {
                font-size: 4vw;
            }
            h3 {
                font-size: 2vw;
            }
        </style>
    </head>
    <body>
    <a href="/">Go back</a>
        <div class="center" style="height: 95%";>
            <div>
                <h3 class="center">Your sprint name is</h3>
                <h1>{{.Title}}</h1>
                <a class="center" style="font-size: 1vw" href="/gen/{{ .Theme }}">I don't fucking like that</a>
            </div>
        </div>
    </body>
</html>
